.regist__past__title {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.deta__input {
  letter-spacing: 3px;
}